.nav-item::after {
	content: "";
	display: block;
	width: 0px;
	height: 2px;
	background: #bcaaa4;
	transition: 0.2s;
}
.current::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #0c2340;
    animation: flow 0.2s 1;
}

@keyframes flow {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}