@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&family=Open+Sans:wght@400;700&display=swap');

nav {
	font-size: 13px;
}

.nav-item::after {
	content: "";
	display: block;
	width: 0px;
	height: 2px;
	background: #bcaaa4;
	transition: 0.2s;
}
.current::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #0c2340;
}
.nav-item:hover::after {
	width: 100%;
}
.bg-alabaster {
    background-color: #f0efe5;
}
.bg-licorice {
	background-color: #1C110A;
}
body {
	background: black;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}
.display-none {
	display: none;
}
svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
.pasfoto {
	height: 300px;
	width: 300px;
	border-radius: 2px;
	z-index: 2;
}

.outline {
	position: absolute;
	margin-top: 40px;
	margin-left: 40px;
	height: 300px;
	width: 300px;
	outline: 1.9px solid white;
	border-radius: 2px;
	z-index: 1;
}

.line {
	position: absolute;
	left: 10px;
	height: 50%;
	border-right: 2px solid white;
}

.icons {
	cursor: pointer;
}

.btn-silver {
	outline: 2px solid white;
	color: white;
}

.btn-silver:hover {
	background-color: white;
	color: black;
}

@media screen and (max-width: 768px) {
	body {
		overflow-y: scroll;
	}
	.container-fluid .row {
		display: flex;
		flex-direction: column;
	}
	.line {
		position: relative;
		top: 150px;
		left: 10px;
		height: 20%;
		width: 96%;
		border-right: none;
		border-bottom: 2px solid white;
	}
	.c-justify {
		text-align: center;
	}
	.c-m {
		margin: auto;
		padding: auto;
	}
	.c-rm {
		margin-top: 150px;
	}
	.c-mp {
		margin-top: 40px;
	}
	.c-p {
		padding: 8%;
	}
	.pasfoto {
		height: 400px;
		width: 400px;
		border-radius: 2px;
		z-index: 2;
	}
	
	.outline {
		position: absolute;
		margin-top: 40px;
		margin-left: 40px;
		height: 400px;
		width: 400px;
		outline: 1.9px solid white;
		border-radius: 2px;
		z-index: 1;
	}
}

@media screen and (max-width: 435px) {
	.pasfoto {
		height: 215px;
		width: 215px;
		border-radius: 2px;
		z-index: 2;
	}
	
	.outline {
		position: absolute;
		margin-top: 40px;
		margin-left: 40px;
		height: 220px;
		width: 220px;
		outline: 1.9px solid white;
		border-radius: 2px;
		z-index: 1;
	}

	.line {
		position: relative;
		top: 22vh;
		left: 10px;
		height: 20%;
		width: 96%;
		border-right: none;
		border-bottom: 2px solid white;
	}

}
