@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&family=Open+Sans:wght@400;700&display=swap');

nav {
	font-size: 13px;
}
.team {
	box-shadow: -6px 6px 9px;
	color: white;
}

.skills-shadow {
	box-shadow: -2.5px 4px 10px;
	color: white;
}
.nav-item::after {
	content: "";
	display: block;
	width: 0px;
	height: 2px;
	background: #bcaaa4;
	transition: 0.2s;
}

.active::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #0c2340;
}
.nav-item:hover::after {
	width: 100%;
}

.bg-alabaster {
    background-color: #f0efe5;
}

.bg-licorice {
	background-color: #1C110A;
}

body {
	background: black;
	font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

.display-none {
	display: none;
}
.svg-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
.pasfoto {
	height: 300px;
	width: 300px;
	border-radius: 2px;
	z-index: 2;
}

.outline {
	position: absolute;
	margin-top: 40px;
	margin-left: 40px;
	height: 300px;
	width: 300px;
	outline: 1.9px solid white;
	border-radius: 2px;
	z-index: 1;
}

.line {
	position: absolute;
	top: 30%;
	left: 10px;
	height: 50%;
	border-right: 2px solid white;
}

.c-w {
	width: 90%;
}

.icons {
	cursor: pointer;
}

.btn-silver {
	outline: 2px solid white;
	color: white;
}

.btn-silver:hover {
	background-color: white;
	color: black;
}

.c-h {
	height: 500px;
}

.myCard {
	background-color: transparent;
	width: 254px;
	height: 354px;
	perspective: 800px;
  }
  
  .title {
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 0;
  }
  
  .innerCard {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
  }
  
  .myCard:hover .innerCard {
	transform: rotateY(180deg);
  }
  
  .frontSide,.backSide {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 1rem;
	color: white;
	box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
	font-weight: 700;
  }
  
  .frontSide,.frontSide::before {
	background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide,.backSide::before {
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
	transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
	width: 110%;
	height: 110%;
	position: absolute;
	z-index: -1;
	border-radius: 1em;
	filter: blur(20px);
	animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
	0% {
	  opacity: 0.3;
	}
  
	80% {
	  opacity: 1;
	}
  
	100% {
	  opacity: 0.3;
	}
  }
/* Projects cards */
  .card-project {
	--font-color: #323232;
	--bg-color: #e0e0e0;
	width: 250px;
	height: 350px;
	border-radius: 20px;
	background: var(--bg-color);
	box-shadow: -9px 9px 18px #5a5a5a,
				9px -9px 18px #ffffff;
	display: flex;
	flex-direction: column;
	transition: .4s;
	position: relative;
  }
  
  .card-project:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	background-color: blueviolet;
  }
  
  .card__descr-wrapper {
	padding: 15px;
	display: grid;
  }
  
  .card__title {
	color: var(--font-color);
	text-align: center;
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 16px;
  }
  
  .card__descr {
	font-size: 11px;
	color: var(--font-color);
  }
  
  .svg-card {
	width: 25px;
	height: 25px;
	margin-bottom: 15px;
	transform: translateY(25%);
	fill: var(--font-color);
  }
  
  .card__links {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
  }
  
  .card__links .link {
	color: var(--font-color);
	font-weight: 600;
	font-size: 15px;
	text-decoration: none;
  }
  
  .card__links .link:hover {
	text-decoration: underline;
  }
  
/* socials */

  .main_back {
	position: absolute;
	border-radius: 10px;
	transform: rotate(90deg);
	width: 19.5em;
	height: 19.5em;
	background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
	z-index: -2;
	box-shadow: inset 0px 0px 180px 5px #ffffff;
  }
  
  .main {
	display: flex;
	flex-wrap: wrap;
	width: 20em;
	align-items: center;
	justify-content: center;
	z-index: -1;
  }
  
  .card {
	width: 100px;
	height: 100px;
	border-top-left-radius: 10px;
	background: lightgrey;
	transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
	background: rgba(255, 255, 255, 0.596);
	backdrop-filter: blur(5px);
	border: 1px solid transparent;
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .card .instagram {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: #cc39a4;
  }
  
  .card:nth-child(2) {
	border-radius: 0px;
  }
  
  .card:nth-child(2) .twitter {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: #03A9F4;
  }
  
  .card:nth-child(3) {
	border-top-right-radius: 10px;
	border-top-left-radius: 0px;
  }
  
  .card:nth-child(3) .linkedin {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: #ffb5d2;
  }
  
  .card:nth-child(4) {
	border-radius: 0px;
  }
  
  .card:nth-child(4) .mail {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: black;
  }
  
  .card:nth-child(5) {
	border-radius: 0px;
  }
  
  .card:nth-child(5) .facebook {
	position: absolute;
	margin-left: 0.2em;
	margin-top: 0.2em;
	opacity: 0;
	transition: .2s ease-in-out;
  }
  
  .card:nth-child(6) {
	border-radius: 0px;
  }
  
  .card:nth-child(6) .whatsapp {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: #12fc2a;
  }
  
  .card:nth-child(7) {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 0px;
  }
  
  .card:nth-child(7) .github {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: black;
  }
  
  .card:nth-child(8) {
	border-radius: 0px;
  }
  
  .card:nth-child(8) .telegram {
	opacity: 0;
	transition: .2s ease-in-out;
	fill: #29b6f6;
  }
  
  .card:nth-child(9) {
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
  }
  
  .card:nth-child(9) .reddit {
	opacity: 0;
	transition: .2s ease-in-out;
  }
  
  .main:hover {
	width: 24em;
	cursor: pointer;
  }
  
  .main:hover .main_back {
	opacity: 0;
  }
  
  .main:hover .card {
	margin: .2em;
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.2);
  }
  
  .main:hover .card:nth-child(5) {
	border: transparent;
  }
  
  .main:hover .text {
	opacity: 0;
	z-index: -3;
  }
  
  .main:hover .instagram {
	opacity: 1;
  }
  
  .main:hover .twitter {
	opacity: 1;
  }
  
  .main:hover .linkedin {
	opacity: 1;
  }
  
  .main:hover .mail {
	opacity: 1;
  }
  
  .main:hover .facebook {
	opacity: 1;
  }
  
  .main:hover .whatsapp {
	opacity: 1;
  }
  
  .main:hover .github {
	opacity: 1;
  }
  
  .main:hover .telegram {
	opacity: 1;
  }
  
  .main:hover .reddit {
	opacity: 1;
  }
  
  .card:nth-child(1):hover {
	background-color: #cc39a4;
  }
  
  .card:nth-child(1):hover .instagram {
	fill: white;
  }
  
  .card:nth-child(2):hover {
	background-color: #03A9F4;
  }
  
  .card:nth-child(2):hover .twitter {
	fill: white;
  }
  
  .card:nth-child(3):hover {
	background-color: #0072b1;
  }
  
  .card:nth-child(3):hover .linkedin {
	fill: white;
  }
  
  .card:nth-child(4):hover {
	background-color: #FFD700;
  }
  
  .card:nth-child(4):hover .mail {
	fill: white;
  }
  
  .card:nth-child(5):hover {
	background-color: #3b5998;
  }
  
  
  @keyframes backgroundIMG {
	100% {
	  background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
	}
  }
  
  .card:nth-child(6):hover {
	background-color: #1fc63e;
  }
  
  .card:nth-child(6):hover .whatsapp {
	fill: white;
  }
  
  .card:nth-child(7):hover {
	background-color: black;
  }
  
  .card:nth-child(7):hover .github {
	fill: white;
  }
  
  .card:nth-child(8):hover {
	background-color: #29b6f6;
  }
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(1) {
	fill: white;
  }
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(2) {
	fill: #29b6f6;
  }
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(3) {
	fill: #29b6f6;
  }
  
  .card:nth-child(9):hover {
	background-color: rgb(255,69,0);
  }
  
  .card:nth-child(9) .reddit > g circle {
	fill: rgb(255,69,0);
  }
  
  .card:nth-child(9) .reddit > g path {
	fill: white;
  }
  
  .text {
	position: absolute;
	font-size: 1em;
	transition: .4s ease-in-out;
	color: black;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.33em;
	z-index: 3;
  }

@media screen and (max-width: 768px) {
	body {
		overflow-y: scroll;
	}
	.container-fluid .row {
		display: flex;
		flex-direction: column;
	}
	.line {
		position: relative;
		top: 210px;
		left: 10px;
		height: 20%;
		width: 96%;
		border-right: none;
		border-bottom: 2px solid white;
	}
	.c-justify {
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.c-m {
		margin: auto;
		padding: auto;
	}
	.c-rm {
		margin-top: 200px;
	}
	.c-mp {
		margin-top: 40px;
	}
	.c-p {
		padding: 8%;
	}
	.pasfoto {
		height: 400px;
		width: 400px;
		border-radius: 2px;
		z-index: 2;
	}
	
	.outline {
		position: absolute;
		margin-top: 40px;
		margin-left: 40px;
		height: 400px;
		width: 400px;
		outline: 1.9px solid white;
		border-radius: 2px;
		z-index: 1;
	}

	.c-h {
		height: 450px;
	}
}

@media screen and (max-width: 435px) {
	.pasfoto {
		height: 215px;
		width: 215px;
		border-radius: 2px;
		z-index: 2;
	}
	
	.outline {
		position: absolute;
		margin-top: 40px;
		margin-left: 40px;
		height: 220px;
		width: 220px;
		outline: 1.9px solid white;
		border-radius: 2px;
		z-index: 1;
	}

	.line {
		position: relative;
		top: -40px;
		left: 10px;
		height: 20%;
		width: 96%;
		border-right: none;
		border-bottom: 2px solid white;
	}

	.c-rm {
		margin-top: -30px;
	}
	.c-mp {
		margin-top: 40px;
	}
	.c-p {
		padding: 10%;
	}
	.c-h {
		height: 280px;
	}
}

@media screen and (max-width: 376px) {
	.line {
		position: relative;
		top: 50px;
		left: 10px;
		height: 20%;
		width: 96%;
		border-right: none;
		border-bottom: 2px solid white;
	}
	.c-rm {
		margin-top: 55px;
	}
	.c-mp {
		margin-top: 40px;
	}
	.c-h {
		height: 270px;
	}
}
